body {
  background-color: black;
  color: gold;
}

h1 {
  margin-top: 20px;
  text-align: center;
  text-shadow: 4px 4px #000000; 
  font-weight: 900;
  border: solid gold;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px gold;
  color: rgb(229, 229, 229);
  background-image: url(https://thumbs.dreamstime.com/t/flags-european-union-page-header-countries-size-population-germany-united-kingdom-france-italy-spain-poland-romania-51748941.jpg);
}

p {
  text-align: center;
}

.code {
  font-weight: 600;
}

.rate {
  color: silver;
}

ul li{width:25%; float:left;}

li:hover {
  color: rgb(0, 192, 0)
  /* font-size: x-large; */
}

#date {
  text-align: center;
}

#details p{
  margin: auto;
  display: none;
  text-align: center;  
  font-size: xx-large;  
}

#outputBlock {
  margin-bottom: 330px;
}

#clickP {
  margin: auto;
  display: none;
  text-align: center;
  margin-top: 50px;
}

.detLeft {
  color: silver;
}

.detMid {
  color: rgb(0, 192, 0);
}

.detCount {
  color: silver;
}

