body {
  background-color: black;
  color: gold;
}

h1 {
  text-align: center;
  border: solid gold;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px gold;
}

.code {
  font-weight: 600;
}

.rate {
  color: silver;
}

/* ul {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 200px;
}
ul li {
  flex: 5 5 25%;
} */

ul li{width:25%; float:left;}

li:hover {
  color: green;
  /* font-size: x-large; */
}

#date {
  text-align: center;
}

#details p{
  margin: auto;
  display: none;
  text-align: center;
  /* border: solid gold;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px gold; */
  font-size: xx-large;
  color: green;
}