body {
  background-color: black;
  color: gold;
}

h1 {
  text-align: center;
  border: solid gold;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px gold;
}

.code {
  font-weight: 600;
}